<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flashcard App</title>

        <link rel="stylesheet" href="/css/stylesheet.css">

        <script type="module" src="/js/createFlashcard.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <button id="dashboard-button" class="button">Dashboard</button>
            <h1 id="navbar-header">Flashcard App</h1>
            <button id="logout-button" class="button">Log out</button>
        </nav>
        <main>
            <div class="set-dashboard"> 
                <h2 class="flashcard-header">Flashcard Text</h2>
                <textarea id="flashcard-text" class="input flashcard-text" maxlength="330"></textarea>

                <h2 class="flashcard-header">Flashcard Answer</h2>
                <textarea id="flashcard-answer" class="input flashcard-text" maxlength="330"></textarea>

                <button class="button flashcard-action-button" id="create-flashcard-button">Create Flashcard</button>
                <p id="create-info" class="visually-hidden flashcard-action-info"></p>
            </div>
        </main>
    </body>
</html>